body{
    background: #F5FAF8;
    font-family: "Century Gothic", sans-serif;
    text-align: justify; 
    margin-left: 100px;
    margin-right: 100px;
    color: #515252;
    }
  
    h1{
    text-align: center;
    }
    p{
    text-align: justify;
    text-align: justify;
    }
